<template>
  <div class="container">
    <div class="alert alert-success" role="alert" v-show="isSubscribed">
      <b>Congratulations!</b> You have subrcibed to the {{subscription}} package.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bronze</h5>
        <div class="row container" v-for="item in bronze" :key ="item.id" >
          <div class="col-md-12 text-center  mb-3">
            <h4>GHC 120</h4>
          </div>
          <div class="col-md-6 text-left">
            Emails
          </div>
          <div class="col-md-6 text-right">
            {{item.email_accounts}}
          </div>
          <div class="col-md-6 text-left">
            Domains
          </div>
          <div class="col-md-6 text-right">
            {{item.domains}}
          </div>
        </div>
        <div class="mt-5">
          <button class="btn btn-outline-primary" @click="subscribe('Bronze')">Subscribe</button>
        </div>
        
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Silver</h5>
        <div class="row container" v-for="item in silver" :key ="item.id" >
          <div class="col-md-12 text-center  mb-3">
            <h4>GHC 150</h4>
          </div>
          <div class="col-md-6 text-left">
            Emails
          </div>
          <div class="col-md-6 text-right">
            {{item.email_accounts}}
          </div>
          <div class="col-md-6 text-left">
            Domains
          </div>
          <div class="col-md-6 text-right">
            {{item.domains}}
          </div>
        </div>
        <div class="mt-5">
          <button class="btn btn-outline-primary" @click="subscribe('Silver')">Subscribe</button>
        </div>
        
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gold</h5>
        <div class="row container" v-for="item in gold" :key ="item.id" >
          <div class="col-md-12 text-center  mb-3">
            <h4>GHC 200</h4>
          </div>
          <div class="col-md-6 text-left">
            Emails
          </div>
          <div class="col-md-6 text-right">
            {{item.email_accounts}}
          </div>
          <div class="col-md-6 text-left">
            Domains
          </div>
          <div class="col-md-6 text-right">
            {{item.domains}}
          </div>
        </div>
        <div class="mt-5">
          <button class="btn btn-outline-primary" @click="subscribe('Gold')">Subscribe</button>
        </div>
        
      </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'Home',

  data(){
    return{

      isSubscribed: false,
      subscription: '',

      bronze:[
        {
        id:1,
        email_accounts: 10,
        domains: 1,
        ftp_account: 3 
      }],
      silver: [{
        id:2,
        email_accounts: 20,
        domains: 3,
        ftp_account: 5
      }],
      gold: [{
        id:3,
        email_accounts: 40,
        domains: 5,
        ftp_account: 10
      }]
    }
  },
  methods:{
    subscribe(subscription){
      this.isSubscribed = true
      return this.subscription = subscription
    },
    close(){
      return this.isSubscribed = false
    }
  }
}
</script>

