<template>
<div class="card">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
    <h5 class="card-title">Card title</h5>
    
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>
</template>

<script>
export default {
    props:['title','products']
}
</script>

